%h1 JS_jukebox 
%h2 GET more of what you love

%main
  #search
    %input{:type=>"text", id: "search_field"}
    %button{id: "search_button"} Go
  #results
    %ul{id: "search_ul"}

%script{:type => "text/javascript",
        :src  => "javascripts/soundcloud_search.js"}