%head
  %script{:type => "text/javascript",:src  => "javascripts/jquery.js"}
  %script{:type => "text/javascript",:src  => "http://connect.soundcloud.com/sdk.js"}
  %script{:type => "text/javascript", :src  => "javascripts/soundcloud_search.js"}
  %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/css.css"}

%body
  =yield